.research-container {
  background-color: #ffffff; /* WHITE base */
  color: #0b1f3a; /* DARK BLUE text */
  padding: 40px;
  font-family: Arial, sans-serif;
}

/* Sections */
.section {
  margin-bottom: 60px;
}

/* Section Title */
.section-title {
  color: #0b1f3a; /* DARK BLUE */
  margin-bottom: 20px;
  border-left: 5px solid #ffcc00; /* YELLOW accent */
  padding-left: 10px;
  font-weight: bold;
}

/* Center */
.center {
  text-align: center;
}

/* Grid layouts */
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Cards */
.card {
  background: #ffffff; /* DARK BLUE */
  color: #0b1f3a; /* WHITE text */
  padding: 15px;
  border-radius: 20px;
  border: 3px solid #ffcc00; /* YELLOW */
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Images */
.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.image-box img {
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
  border: 2px solid #ffcc00;
}

.method-img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  margin: 3px;
  /* border: 3px solid #ffcc00; */
}

/* Caption */
.caption {
  font-size: 12px;
  color: #555; /* soft gray for readability */
  text-align: center;
}

/* Highlight text */
.highlight {
  color: #ffcc00; /* YELLOW emphasis */
  font-weight: bold;
}

/* Technologies */
.tech-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

/* Tech cards */
.tech-card {
  background: #fff;
  padding: 20px;
  color: #555;
  text-align: center;
  border-radius: 12px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.tech-card:hover {
  transform: scale(1.05);
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.tech-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

/* Timeline */
.timeline-container {
  position: relative;
  margin-top: 40px;
  padding: 20px 0;
}

/* Vertical line */
.timeline-container::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 4px;
  height: 100%;
  background-color: #ffcc00; /* YELLOW */
  transform: translateX(-50%);
}

/* Rows */
.timeline-row {
  width: 50%;
  padding: 20px;
  position: relative;
}

/* Left */
.timeline-row.left {
  left: 0;
  text-align: right;
}

/* Right */
.timeline-row.right {
  left: 50%;
}

/* Content */
.content {
  background: #ffffff; /* DARK BLUE */
  color: #0b1f3a; /* WHITE */
  padding: 15px;
  border-radius: 10px;
  border: 3px solid #ffcc00; /* YELLOW */
}

/* Dots */
.timeline-row::before {
  content: "";
  position: absolute;
  top: 25px;
  width: 15px;
  height: 15px;
  background-color: #ffcc00;
  border-radius: 50%;
}

.timeline-row.left::before {
  right: -8px;
}

.timeline-row.right::before {
  left: -8px;
}

/* Responsive */
@media (max-width: 768px) {
  .grid-2,
  .grid-3 {
    grid-template-columns: 1fr;
  }

  .timeline-container::before {
    left: 10px;
  }

  .timeline-row {
    width: 100%;
    left: 0 !important;
    text-align: left;
    padding-left: 30px;
  }

  .timeline-row::before {
    left: 2px;
  }
}

p {
  text-align: justify;
  margin-bottom: 12px;
}

.method-p {
  text-align: justify;
  font-weight: bold;
}

.card-icon {
  font-size: 40px;
  color: #0b1f3a; /* navy blue */
  margin-bottom: 10px;
  text-align: center;
}